VITE_CLERK_PUBLISHABLE_KEY=pk_test_xxxxxxxx

DATABASE_URL="postgresql://user:pass@ep-xxxx.sa-east-1.aws.neon.tech/incontext?sslmode=require"
CLERK_SECRET_KEY=sk_test_xxxxxxxx
CLERK_PUBLISHABLE_KEY=pk_test_xxxxxxxx